@font-face {
    font-family: shabnam;
    src: url(Assets/Fonts/Shabnam-Bold.ttf);
    src: url(Assets/Fonts/Shabnam-Light.ttf);
    src: url(Assets/Fonts/Shabnam.eot);
    src: url(Assets/Fonts/Shabnam.ttf);
    src: url(Assets/Fonts/Shabnam.woff);
  }

* {
    font-family: shabnam;
  }
body{
    width: 100%;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}
.right-side{
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.right-side .time{
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-side .user{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
}
.right-side .user .picture{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture .image{
    max-width: 60%;
    height: auto;
}
.right-side .user .user-info{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
}
.right-side .user .user-name{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-side .user .user-name .name{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.right-side .user .user-name .work{
    width: 100%;
    height: 50%;
    font-size: 10px;
    font-weight: bold;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-side .user-info .icon{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.right-side .user-info .icon .down{
    width: 100%;
    height: 50%;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.right-side .options{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.right-side .options .icons{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-side .options .titles{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.right-side .options .notifications{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.right-side .logo{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.right-side .logo .image{
    max-width: 25%;
    height: auto;
}
.left-side{
    width: 85%;
    height: auto;
    margin-right: 230px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: calc(85vw - 45px);
    height: 1385px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .top{
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .mid{
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .down{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .down2{
    width: 100%;
    height: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.container .top .kard1{
    width: calc(((85vw - 30px) - 60px)/4);
    display: flex;
    flex-direction: row-reverse;
}
.kard1 .right{
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: snow;
    display: flex;
    align-items: center;
}
.kard1 .right .right2{
    width: 92%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.kard1 .right .top{
    width: 100%;
    height: 35%;
    margin: 0px;
    font-size: 13px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.kard1 .right .mid{
    width: 100%;
    height: 30%;
    margin: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.kard1 .right .down{
    width: 100%;
    height: 35%;
    margin: 0px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.kard1 .right .down .right-down{
    width: 13%;
    height: 90%;
    color: rgb(100, 100, 250);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.kard1 .right .down .left-down{
    width: 87%;
    height: 90%;
    font-size: 10px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kard1 .left{
    width: 20%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: width 1s;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(130, 95, 230), rgb(145, 165, 250));
}
.kard1 .left:hover{
    transform: scaleX(2);
    width: 80%;
    border-radius: 2.5px;
}
.kard1 img {
    max-width: 60%;
    height: auto;
  }
.container .top .kard2{
    width: calc(((85vw - 30px) - 60px)/4);
    display: flex;
    flex-direction: row-reverse;
}
.kard2 .right{
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: snow;
    display: flex;
    align-items: center;
}
.kard2 .right .right2{
    width: 92%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.kard2 .right .top{
    width: 100%;
    height: 35%;
    margin: 0px;
    font-size: 13px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.kard2 .right .mid{
    width: 100%;
    height: 30%;
    margin: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.kard2 .right .down{
    width: 100%;
    height: 35%;
    margin: 0px;
    direction: rtl;
    display: flex;
    flex-direction: row;
}
.kard2 .right .down .right-down{
    width: 15%;
    height: 90%;
    color: rgb(100, 100, 250);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kard2 .right .down .left-down{
    width: 85%;
    height: 90%;
    font-size: 10px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kard2 .left{
    width: 20%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: width 1s;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(250, 186, 50), rgb(248, 202, 101));
}
.kard2 .left:hover{
    transform: scaleX(2);
    width: 80%;
    border-radius: 2.5px;
}
.kard2 img {
    max-width: 60%;
    height: auto;
  }
.container .top .kard3{
    width: calc(((85vw - 30px) - 60px)/4);
    display: flex;
    flex-direction: row-reverse;
}
.kard3 .right{
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: snow;
    display: flex;
    align-items: center;
}
.kard3 .right .right2{
    width: 92%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.kard3 .right .top{
    width: 100%;
    height: 35%;
    margin: 0px;
    font-size: 13px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.kard3 .right .mid{
    width: 100%;
    height: 30%;
    margin: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.kard3 .right .down{
    width: 100%;
    height: 35%;
    margin: 0px;
    direction: rtl;
    display: flex;
    flex-direction: row;
}
.kard3 .right .down .right-down{
    width: 5%;
    height: 90%;
    color: rgb(40, 220, 50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.kard3 .right .down .mid{
    width: 20%;
    height: 90%;
    color: rgb(40, 220, 50);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kard3 .right .down .left-down{
    width: 75%;
    height: 90%;
    font-size: 10px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kard3 .left{
    width: 20%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: width 1s;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(245, 70, 125), rgb(245, 125, 140));
}
.kard3 .left:hover{
    transform: scaleX(2);
    width: 80%;
    border-radius: 2.5px;
}
.kard3 img {
    max-width: 60%;
    height: auto;
  }
.container .top .kard4{
    width: calc(((85vw - 30px) - 60px)/4);
    display: flex;
    flex-direction: row-reverse;
}
.kard4 .right{
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: snow;
    display: flex;
    align-items: center;
}
.kard4 .right .right2{
    width: 92%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.kard4 .right .top{
    width: 100%;
    height: 35%;
    margin: 0px;
    font-size: 13px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
}
.kard4 .right .mid{
    width: 100%;
    height: 30%;
    margin: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.kard4 .right .down{
    width: 100%;
    height: 35%;
    margin: 0px;
    direction: rtl;
    display: flex;
    flex-direction: row;
}
.kard4 .right .down .right-down{
    width: 5%;
    height: 90%;
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.kard4 .right .down .mid{
    width: 20%;
    height: 90%;
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kard4 .right .down .left-down{
    width: 75%;
    height: 90%;
    font-size: 10px;
    color: rgb(130, 130, 130);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kard4 .left{
    width: 20%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: width 1s;
    transform-origin: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(40, 140, 255), rgb(145, 210, 250));
}
.kard4 .left:hover{
    transform: scaleX(2);
    width: 80%;
    border-radius: 2.5px;
}
.kard4 img {
    max-width: 45%;
    height: auto;
  }
.container .mid .mid-right{
    width: calc((85vw - 30px) - 30vw - 30px);
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(130, 60, 215), rgb(135, 115, 250));
}
.container .mid .mid-right i{
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(220, 220, 220);
}
.container .mid .mid-left{
    width: 30vw;
    height: 100%;
    border-radius: 5px;
    background-color: snow;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: space-between; */
}
.container .down .down-right{
    width: calc((85vw - 30px) - 30vw - 30px);
    height: 100%;
    border-radius: 5px;
    background-color: snow;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}
.container .down .down-left{
    width: 30vw;
    height: 100%;
    border-radius: 5px;
    background-color: snow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    /* justify-content: flex-start; */
}
.right-side .time .hour{
    font-size: 30px;
    color: rgb(100, 100, 250);
    margin: 0px;
}
b{
    font-weight: bolder;
}
.right-side .time .day{
    font-size: 11px;
    color: rgb(100, 100, 250);
    margin: 0px;
    line-height: 0cm;
}
.right-side .user .user-info .user-name .name p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}
.right-side .options .add-icon{
    width: 20%;
    height: 12.5%;
    color: rgb(130, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashbord{
    color: rgb(100, 100, 250) !important;
}
.dashbord{
    color: rgb(100, 100, 250);
}
a:link {
    text-decoration: none;
    font-size: 12px;
}
a:visited{
    color: rgb(130, 130, 130) !important;
}
.right-side .options .titles .add-title{
    width: 100%;
    height: 12.5%;
    color: brown;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-side .options .notifications .add-not{
    width: 100%;
    height: 12.5%;
    color: rgb(130, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side .options .notifications .add-not .badge{
    font-size: 9px;
    width: 13px;
    height: 12px;
    border-radius: 40%;
    background-color: rgb(255, 65, 65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side .user .picture .image{
    border-radius: 50%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.container .mid .mid-left .chart-top{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .mid .mid-left .title-right{
    width: 28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .mid .mid-left .blackcolor{
    color: black;
}
.container .mid .mid-left .title-left{
    width: 30%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-left .border{
    width: 60px;
    height: 25px;
    font-size: 10px;
    color: rgb(120, 120, 120);
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underline{
    border-bottom: 1.5px solid rgb(100, 40, 250);
}
.container .down .down-right .titles{
    width: 65%;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.container .down .down-right .titles .title1{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}
.container .down .down-right .titles .title2{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}
.container .down .down-right .titles .title3{
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}
.container .down .down-right .titles .title4{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.container .down .down-right .titles .badge{
    font-size: 8px;
    width: 15px;
    height: 12px;
    border-radius: 40%;
    background-color: rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .down .down-right .titles .blackcolor{
    color: black;
}
.container .down .down-left .top-div .title{
    width: 28%;
    height: 75px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .down .down-left .top-div .blackcolor{
    color: black;
}
.container .down .down-left .top-div{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(220, 220, 220);;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .down .down-left .down{
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container .down .down-left .title-left{
    width: 30%;
    height: 75px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .down .down-right .title-left{
    width: 18%;
    height: 75px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .down2 .down2-left{
    width: 50%;
    height: 450px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: snow;
    display: flex;
    flex-direction: column;
}
.container .down2 .down2-right{
    width: 50%;
    height: 450px;
    border-radius: 5px;
    background-color: snow;

}
.container .down2 .top{
    width: 100%;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.container .down2 .top .title{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.container .down2 .top .blackcolor{
    color: black;
    width: 20%;
    margin-right: 35px;
    margin-left: 35px;
}
.container .down2 .down{
    width: 100%;
    height: 375px;
    border-top-color: rgb(230, 230, 230);
    border-top-width: 1px;
    border-top-style: solid;
}

.container .down2 .border{
    width: 60px;
    height: 25px;
    margin-left: 35px;
    font-size: 10px;
    color: rgb(120, 120, 120);
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: 370px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: right;
    font-size: 12px;
    color: rgb(130, 130, 130);
}
  
td {
    padding: 0px;
    height: 40px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
th{
    color: rgb(150, 150, 150);
    background-color: rgb(230, 230, 230);
    height: 35px;
}
tr{
    height: 30px;
}
tr:hover {
      background-color:#f5f5f5;
}
.row-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.row-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-content: center;
}
.row-img p{
    margin-right: 3px;
    display: flex;
    align-content: center;
}
tr .padding{
    padding-right: 35px;
}
tr .padding .p1{
    margin: 0px;
    padding: 0px;
}
tr .padding .p2{
    margin: 0px;
    padding: 0px;
    font-size: 9px;
    color: blue;
    line-height: 0px;
}
tr .th1{
    width: 14%;
}
tr .th2{
    width: 38%;
}
.down .down-left .down .row{
    width: 100%;
    height: 30%;
    /* margin-bottom: 0px; */
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.down .down-left .down .row .left{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.down .down-left .down .row .right{
    width: 15%;
    height: 90%;
}
.down .down-left .down .row .right .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 35%;
    margin-left: 10px;
}
.down .down-left .down .row .left .top{
    width: 100%;
    height: 35%;
    margin: 0px;
    display: flex;
    flex-direction: row;
}
.down .down-left .down .row .left .top .left{
    width: 40%;
    height: 100%;
    direction: rtl;
    display: flex;
    justify-content: space-between;
}
.down .down-left .down .row .left .top .left p{
    font-size: 10px;
    text-align: left;
    color: rgb(80, 80, 80);
}
.down .down-left .down .row .left .top .right{
    width: 60%;
    height: 100%;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.down .down-left .down .row .left .top .right p{
    font-size: 13px;
    margin-top: 15px;
    color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
}
.down .down-left .down .row .left .top .right .badge{
    width: 45px;
    height: 15px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    color: white;
    background-color: red;
    font-size: 9px;
    display: flex;
    justify-content: center;
}
.down .down-left .down .row .left .down{
    width: 100%;
    height: 65%;
    direction: rtl;
    display: flex;
    justify-content: center;
}
.down .down-left .down .row .left .down .p1{
    font-size: 12.5px;
    margin: 0px;
    color: rgb(80, 80, 80);
}
.down .down-left .down .row .left .down .p2{
    font-size: 10px;
    margin-top: 5px;
    color: rgb(150, 150, 150);
}
.container .mid .mid-left .chart{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .mid .mid-left  .chart ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.container .mid .mid-left  .chart .horizontal-list li {
	float: left;
}
.container .mid .mid-left  .chart .block {
	/* margin: 25px 25px 0 0; */
	/* background: #394264; */
	border-radius: 5px;
    /* float: left; */
    width: 400px;
    /* overflow: hidden; */
}
.container .mid .mid-left  .chart .line-chart {
	height: 200px;
	/* background: #11a8ab; */
}
.container .mid .mid-left  .chart .time-lenght {
	padding-bottom: 10px;
	padding-left: 50px;
    /* overflow: hidden; */
}
.container .mid .mid-left  .chart .time-lenght-btn {
	display: block;
    width: 70px;
    color: rgb(200, 200, 200);
    line-height: 32px;
	/* background: #50597b; */
	/* border-radius: 5px; */
	font-size: 12px;
	text-align: center;
	/* margin-right: 5px; */
}
.container .mid .mid-left  .chart .time-lenght-btn b{
    font-size: 30px;
}
.container .mid .mid-left  .chart .color{
    color: rgb(250, 140, 35);
}
.container .mid .mid-left  .chart .grafico {
  /* padding: 2rem 1rem 1rem; */
    width: 100%;
    height: 100%;
    position: relative;
    color: rgb(250, 140, 35);
    font-size: 80%;
}
.container .mid .mid-left  .chart .grafico span {
    display: block;
    position: absolute;
    bottom: 5rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    transform-origin: left center;
    box-shadow: 0px 5px 10px rgb(250, 140, 35);
}
.container .mid .mid-left  .chart .grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 55px; transform: rotate(-15deg);}
[data-valor='8'] {width: 70px; transform: rotate(-20deg);}
[data-valor='13'] {width: 90px; transform: rotate(87deg);}
[data-valor='5'] {width: 120px; transform: rotate(-115deg);}
[data-valor='23'] {width: 120px; transform: rotate(125deg);}
[data-valor='12'] {width: 60px; transform: rotate(-80deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: rgb(250, 140, 35);
    border-radius: 50%;
}

[class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    color: rgb(200, 200, 200);
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 90%;
}
.container .mid .mid-left  .chart .eje-x {
    height: 2rem;
}
.container .mid .mid-left  .chart .eje-y li {
    height: 15%;
    border-top: 1px solid #777;
}
[data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
} 
.container .mid .mid-left  .chart .eje-x li {
    width: 14%;
    float: left;
    text-align: center;
}

.container .down .down-right .top-div{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.search-bar{
    width: 100%;
    height: 60px;
    margin-top: -60px;
    z-index: 5;
    position: sticky;
    transition: top 1s;
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.search-bar .search{
    width: 1100px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.search-bar .search .user{
    width: 1000px;
    height: 40px;
    text-align: end;
    background-color: transparent;
    border: none;
}
.search-bar .notif{
    width: 150px;
    height: 40px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.search-bar i{
    margin-left: 15px;
    color: rgb(200, 200, 200);
}
.search-bar .notif .budge{
    width: 16px;
    height: 14px;
    font-size: 12px;
    background-color: red;
    text-align: center;
    color: white;
    margin-left: -8px;
    margin-top: -15px;
    border-radius: 6px;
}