@font-face {
    font-family: shabnam;
    src: url(Assets/Fonts/Shabnam-Bold.ttf);
    src: url(Assets/Fonts/Shabnam-Light.ttf);
    src: url(Assets/Fonts/Shabnam.eot);
    src: url(Assets/Fonts/Shabnam.ttf);
    src: url(Assets/Fonts/Shabnam.woff);
  }
  @font-face{
    font-family: yekan;
    src: url(Assets/Fonts/f_yekan/F_yekan.ttf);
  }
  
  * {
    font-family: shabnam;
  }
  .number{
      font-family: yekan;
  }
  body{
      margin: 0px;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
  }

.right-side{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.right-side .time {
    color: blueviolet;
}
.right-side .user-info{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.right-side .image{
    border-radius: 25px;
}
h2{
    height: 10px;
}
h4{
    margin-top: 0px;
    height: 8px;
}
h5{
    font-size: smaller;
}

.right-side .down{
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-side .down-left{
    width: 80%;
    height: 100%;
}
.dashbord{
    color: blueviolet;
}
.right-side .add-icon{
    width: 20%;
    height: 12.5%;
    display: flex;
    align-items: center;
}

.right-side .add-notification{
    width: 100%;
    height: 12.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.right-side .badge{
    font-size: 10px;
    width: 15px;
    height: 12px;
    border-radius: 30%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan;
}

.container{
    width: 85%;
    background-color:rgba(241, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .top{
    width: 100%;
    height: 20%;
    background-color: rgba(241, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.container .top .users{
    width: 23%;
    height: 70%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.container .top .users .big-right{
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .top .users .right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .top .users .right-top{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}
.container .top .users .right-down{
    width: 100%;
    height: 40%;
    direction: ltr;
    text-indent: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.container .top .users .right-down .color-dec{
    color: red;
    font-family: yekan;
}
.container .top .users .right-down .color-inc{
    color: green;
    font-family: yekan;
}
p{
    font-size: 10px;
    font-weight: bold;
    line-height: 0.8;
}
.container .top .users .left1{
    width: 25%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(120, 100, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .top .users .left2{
    width: 25%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(250, 186, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .top .users .left3{
    width: 25%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(241, 72, 115);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .top .users .left4{
    width: 25%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(53, 175, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .down{
    width: 97%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
}
.container .down .right{
    width: 60%;
    height: 97%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.container .down .right .top{
    width: 100%;
    height: 58.5%;
    border-radius: 5px;
    background-color: rgb(125, 103, 229);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.container .down .right .top .head{
    width: 10%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .down .right .down{
    width: 100%;
    height: 38.5%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.container .down .right .down .head{
    width: 100%;
    height: 35%;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.container .down .right .down .add-notification{
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.container .down .right .down .badge{
    font-size: 10px;
    width: 18px;
    height: 12px;
    border-radius: 30%;
    background-color: rgb(190, 188, 188);
    color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: yekan;
}
.container .down .left{
    width: 40%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .down .left .top{
    width: 97%;
    height: 58.5%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: flex-start;
}
.container .down .left .top .head{
    width: 100%;
    height: 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.container .down .left .top .title{
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underline{
    border-bottom: 2px solid blueviolet;
}
.border{
    display: block;
    border-radius: 5px;
    background-color: transparent;
}
.container .down .left .down{
    width: 97%;
    height: 38.5%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: flex-start;
}
.container .down .left .down .head{
    width: 100%;
    height: 35%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.container .down .left .down .title{
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}